* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    margin-top: 50px;
}

img {
  
    width: 150px;
    height: 180px;
}

.slogan {
    border: 1px solid black;
    text-align: center;
    background-color: aquamarine; 
}